In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import hypertools as hyp
import seaborn as sns
%matplotlib inline

In [30]:
#load in the data

fname1 = 'Uber-Jan-Feb-FOIL.csv'
columns1 = ('dispatching_base_number', 'date', 'active_vehicles', 'trips')
y1_data = pd.read_csv(fname1, skiprows=[0], names=columns1)

In [31]:
fname2 = 'Aggregate FHV Data.xlsx'

sheet1 = 'Trips Per Hour and Weekday'
sheet2 = 'Change in Trips Sep 2013-2014'
sheet3 = 'Change in Daily Trips by Hour'

FHV_col1 = ('Date', 'American', 'Carmel', 'Dial 7', 'Diplo', 'Firstclass', 
            'Prestige', 'Skyline', 'Lyft', 'Uber', 'Yellow Taxis', 'Green Taxis')
FHV_col2 = ('Location', 'Uber and Lyft Trips Per Day 2014', 
            'Yellow Taxi Trips Per Day 2014', 'Yellow Taxi Trips Per Day 2013')
FHV_col3 = ('Hour', 'Uber and Lyft Trips in MN Core (Sep 2014)', 
           'Change in Daily Yellow Trips in MN Core (Sep 2014 compared with Sep 2013'))

## data key: MN, JFK, LGA
FHV_df1 = pd.read_excel(fname2, sheetname = sheet1, skiprows=[0], names=FHV_col1)
FHV_df2 = pd.read_excel(fname2, sheetname=sheet2, skiprows=[0], names=FHV_col2)
FHV_df2 = pd.read_excel(fname2, sheetname=sheet3, skiprows=[0], names=FHV_col3)

NameError: name 'sheet1' is not defined

In [26]:
y1_data

    dispatching_base_number       date  active_vehicles  trips
0                    B02512   1/1/2015              190   1132
1                    B02765   1/1/2015              225   1765
2                    B02764   1/1/2015             3427  29421
3                    B02682   1/1/2015              945   7679
4                    B02617   1/1/2015             1228   9537
5                    B02598   1/1/2015              870   6903
6                    B02598   1/2/2015              785   4768
7                    B02617   1/2/2015             1137   7065
8                    B02512   1/2/2015              175    875
9                    B02682   1/2/2015              890   5506
10                   B02765   1/2/2015              196   1001
11                   B02764   1/2/2015             3147  19974
12                   B02765   1/3/2015              201   1526
13                   B02617   1/3/2015             1188  10664
14                   B02598   1/3/2015              818   7432
15                   B02682   1/3/2015              915   8010
16                   B02512   1/3/2015              173   1088
17                   B02764   1/3/2015             3215  29729
18                   B02512   1/4/2015              147    791
19                   B02682   1/4/2015              812   5621
20                   B02598   1/4/2015              746   5223
21                   B02765   1/4/2015              183    993
22                   B02617   1/4/2015             1088   7729
23                   B02764   1/4/2015             2862  20441
24                   B02512   1/5/2015              194    984
25                   B02682   1/5/2015              951   6012
26                   B02617   1/5/2015             1218   7899
27                   B02764   1/5/2015             3387  20926
28                   B02598   1/5/2015              907   5798
29                   B02765   1/5/2015              227   1133
..                      ...        ...              ...    ...
324                  B02764  2/24/2015             3965  34686
325                  B02512  2/24/2015              247   1869
326                  B02598  2/24/2015             1061   9954
327                  B02682  2/24/2015             1346  12497
328                  B02617  2/24/2015             1456  13719
329                  B02765  2/24/2015              698   6390
330                  B02512  2/25/2015              246   1647
331                  B02598  2/25/2015             1076   9405
332                  B02765  2/25/2015              706   6178
333                  B02682  2/25/2015             1395  12693
334                  B02617  2/25/2015             1473  12811
335                  B02764  2/25/2015             3934  31957
336                  B02598  2/26/2015             1134  10661
337                  B02617  2/26/2015             1539  14461
338                  B02682  2/26/2015             1465  13814
339                  B02512  2/26/2015              243   1797
340                  B02765  2/26/2015              745   6744
341                  B02764  2/26/2015             4101  36091
342                  B02765  2/27/2015              786   7563
343                  B02617  2/27/2015             1551  14677
344                  B02598  2/27/2015             1114  10755
345                  B02512  2/27/2015              272   2056
346                  B02764  2/27/2015             4253  38780
347                  B02682  2/27/2015             1510  14975
348                  B02598  2/28/2015              994  10319
349                  B02764  2/28/2015             3952  39812
350                  B02617  2/28/2015             1372  14022
351                  B02682  2/28/2015             1386  14472
352                  B02512  2/28/2015              230   1803
353                  B02765  2/28/2015              747   7753

[354 rows x 4 columns]